<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:ml-auto lg:pl-4 lg:pt-4">
                <div class="lg:max-w-lg">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Korešpondenčné semináre</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Korešpondenčné semináre sú dlhodobé online súťaže, v&nbsp;ktorých si pre&nbsp;teba
                        pripravíme úlohy, ktoré samostatne doma riešiš. K&nbsp;tvojim odovzdaným riešeniam ti potom
                        napíšeme individuálnu spätnú väzbu a bodové hodnotenie.

                    </p>
                    <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:file-document-edit"></span>
                                Riešenie úloh.
                            </dt>
                            <dd class="inline">
                                Zadané úlohy vyriešiš, svoje riešenie spíšeš a odovzdáš online.
                            </dd>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:comment-text"></span>
                                Spätná väzba.
                            </dt>
                            <dd class="inline">
                                Tvoje riešenie ti opravíme, obodujeme a napíšeme ti k nemu komentár.
                            </dd>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:trophy"></span>
                                Výhry.
                            </dt>
                            <dd class="inline">
                                Najlepších riešiteľov pozývame na týždenné sústredenia. Taktiež máš šancu vyhrať vecné ceny!
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="flex items-start justify-end lg:order-first">
                <img src="https://ltt.trojsten.sk/graphics/ltt2022-2.jpg"
                     alt="Semináre"
                     class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]">
            </div>
        </div>
    </div>
</div>
