<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-4 lg:pt-4">
                <div class="lg:max-w-lg">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sústredenia</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">
                        Najlepších riešiteľov korešpondenčných seminárov pozývame na týždenné sústredenie.
                        Ide o pobyt v prírodných rekreačných zariadeniach, vzdialených od ruchu miest, kde sa veľa
                        naučíš, zabavíš a spoznáš nových ľudí.
                    </p>
                    <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:human-male-board"></span>
                                Prednášky.
                            </dt>
                            <dd class="inline">
                                Naši organizátori si pre teba pripravia odborné prednášky, na ktorých sa naučíš množstvo
                                nových poznatkov z oblastí, ktoré ťa zaujímajú.
                            </dd>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:basketball"></span>
                                Netradičné športové aktivity.
                            </dt>
                            <dd class="inline">
                                Nechceme celé dni len sedieť nad knihami, preto na sústredení zažiješ aj množstvo
                                pohybového
                                programu v exteriéri.
                            </dd>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-gray-900">
                                <span class="iconify absolute left-1 top-1 h-5 w-5 text-blue-600" data-icon="mdi:human-greeting-variant"></span>
                                Nové priateľstvá.
                            </dt>
                            <dd class="inline">
                                Spoznáš množstvo ľudí s rovnakými záujmami a nadviažeš priateľstvá na celý život.
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <img src="https://ltt.trojsten.sk/graphics/ltt2022-2.jpg"
                 alt="Sústredenie"
                 class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]">
        </div>
    </div>

    <div class="mt-12 text-center">
        <a href="#" class="btn">
            Začať riešiť semináre
            <span class="iconify w-4 h-4" data-icon="mdi:arrow-right"></span>
        </a>
    </div>
</div>
