<!-- <div class="bg-yellow-500 text-gray-900 font-bold text-sm"> -->
    <!-- <div class="mx-auto max-w-7xl p-4 lg:px-8"> -->
        <!-- Trojsten ku 1.4.2024 mení svoj bankový účet. -->
        <!-- <a href="/novy-ucet/" class="underline">Viac informácií sa dozviete tu.</a> -->
    <!-- </div> -->
<!-- </div> -->

<header class="bg-primary">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Trojsten</span>
                {{- $logoW := resources.Get "logo/white.svg" -}}
                <img class="h-10 w-auto" src="{{ $logoW.RelPermalink }}" alt="Trojsten">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white/70 js-mobile-menu-toggle">
                <span class="sr-only">Otvoriť menu</span>
                <span class="iconify w-6 h-6" data-icon="mdi:menu"></span>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            {{- range .Site.Menus.main -}}
            <a href="{{ .URL }}" class="text-sm font-semibold leading-6 text-white hover:text-white/70">{{ .Title }}</a>
            {{- end -}}
        </div>
    </nav>

    <div class="lg:hidden hidden" role="dialog" aria-modal="true" id="mobile-menu">
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-4 py-4 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="sr-only">Trojsten</span>
                    {{- $logoB := resources.Get "logo/blue.svg" -}}
                    <img class="h-10 w-auto" src="{{ $logoB.RelPermalink }}" alt="Trojsten">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 js-mobile-menu-toggle">
                    <span class="sr-only">Zavrieť menu</span>
                    <span class="iconify w-6 h-6" data-icon="mdi:close"></span>
                </button>
            </div>
            <div class="space-y-1 py-6">
                {{- range .Site.Menus.main -}}
                <a href="{{ .URL }}"
                   class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">{{
                    .Title }}</a>
                {{- end -}}
            </div>
        </div>
    </div>
</header>
